[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
paramiko = "*"
requests = "*"
pycrypto = "*"
Flask = "*"
SQLAlchemy = "*"
PyJWT = "*"
Flask-SQLAlchemy = "*"
flask-mysqldb = "*"
Flask-Migrate = "*"
Flask-Script = "*"
Pillow = "*"
redis = "*"
