[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
paramiko = "*"
requests = "*"
pycrypto = "*"
flask = "*"
sqlalchemy = "*"
pyjwt = "*"
flask-sqlalchemy = "*"
flask-mysqldb = "*"
flask-migrate = "*"
flask-script = "*"
pillow = "*"
redis = "*"
sqlalchemy-utils = "*"
psycopg2 = "*"
apscheduler = "*"
